# Python Introduction

In [ ]:
print("Hello Python")

Hello Python

In [2]:
print(12)

12

In [3]:
print("Shubham sharma")

Shubham sharma

In [4]:
print("Shubham")
print("sharma")

Shubham
sharma

In [ ]:
print("shubham", "\n", "sharma")

shubham
 sharma

# Comment- 
1. Single Line comment -> #
2. Multiple line comment -> ''' '''

In [7]:
# This is for greeting the user
print("Hello, Shubham!")

Hello, Shubham!

In [8]:
'''
This is a multi-line comment
that spans several lines.
It is often used for documentation.
'''
print("Multi-line comment example")

Multi-line comment example

# Variables
- syntax : 
variable_name = variable_value

In [ ]:
a="shubham"
print(a)

shubham

Rules For Variable Names -
1. Can't Start with number.
2. Can't contains any special character except underscore(_).
3. Case-Sensitive(a & A are different variable).
4. Can't use reserved Keywords.(if,for,etc....)

In [10]:
print("Students management system")
student_name = "Shubham Sharma"
student_age = 21
student_course = "Computer Science"
print("Name:", student_name)
print("Age:", student_age)
print("Course:", student_course)

Students management system
Name: Shubham Sharma
Age: 21
Course: Computer Science

# Input From User -

In [11]:
#input() : -
a=input("Enter your name: ")
print("Your name is:",a)

Your name is: shubham

In [15]:
#type() : -
x= 10
print("The type of x is:", type(x))
y= "Shubham"
print("The type of y is:", type(y))
z= 5.67
print("The type of z is:", type(z))

The type of x is: <class 'int'>
The type of y is: <class 'str'>
The type of z is: <class 'float'>

In [16]:
n=input("Enter a number: ")
print(type(n))

<class 'str'>

# Type Casting - 
- Conversion of One data type into another data type
1. int() -> for interger
2. float() -> for floating number 
3. str() -> for string
- Note : Bydefault input() function have data type string.

- Addition of two numbers -

In [18]:
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
sum =num1 + num2
print("The sum is:",sum)

ValueError: invalid literal for int() with base 10: '10.5'

In [19]:
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
sum =num1 + num2
print("The sum is:",sum)

The sum is: 20.5

In [ ]:
print("Employee Management System")
employee_name = input("Enter employee name: ")
employee_id = input("Enter employee ID: ")
employee_department = input("Enter employee department: ")
employee_salary = float(input("Enter employee salary: "))
print("\nEmployee Details:")
print("Name:", employee_name)
print("ID:", employee_id)
print("Department:", employee_department)
print("Salary:", employee_salary)

Employee Management System

Employee Details:
Name: shubham
ID: 1001
Department: Software
Salary: 123456.0