# Data Types -

In Python, data types define the kind of value a variable can store.<br> Python is dynamically typed, meaning you donâ€™t need to declare the data type explicitly.

# There are two types of data types in Python: mutable and immutable.
- Mutable data types can be changed after they are created, while immutable data types cannot be changed.
- Examples of mutable data types: list, dict, set
- Examples of immutable data types: numbers, boolen, string, tuple,frozenset

1. Numbers -

In [1]:
# integer -
a=42
print(type(a))
# float -
b=3.14
print(type(b))
# complex -
c=2+3j
print(type(c))
d=None
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'NoneType'>

2. String -

In [4]:
e="Hello, Python!"
print(type(e))

<class 'str'>

3. boolean -

In [5]:
a=True
print(type(a))

<class 'bool'>

4. list -

In [6]:
li = [1, 2, 3, 4, 5]
print(type(li))

<class 'list'>

5. tuple -

In [7]:
t=(1, 2, 3)
print(type(t))

<class 'tuple'>

# How to declare one element tuple?

In [8]:
single_element_tuple = (5,) # Note the comma
print(type(single_element_tuple))

<class 'tuple'>

6. dictionary -

In [9]:
d={}  # empty dictionary
print(type(d))
dict_example = {'name': 'Alice', 'age': 30}
print(type(dict_example))

<class 'dict'>
<class 'dict'>

7. set

In [14]:
s={1,2,2,3,3}
print(type(s))
print(s)
s1={1, 2, 3}
print(type(s1))

<class 'set'>
{1, 2, 3}
<class 'set'>

8. Frozenset -

In [13]:
f=frozenset([1, 2, 3, 4])
print(type(f))

<class 'frozenset'>