# Dictionary -

A dictionary in Python is a built-in data structure used to store data in key–value pairs.

1. Mutable (can be changed)
2. Ordered (since Python 3.7)
3. Keys must be unique
4. Keys must be immutable (like int, string, tuple)
5. item=key + value
6. item separated by (,)
7. key- user defined index

### Creating a Dictionary -

In [1]:
student = {
    "name": "Shubham",
    "age": 21,
    "course": "B.Tech"
}
print(student)

{'name': 'Shubham', 'age': 21, 'course': 'B.Tech'}

#### Access a key -

In [2]:
d={"id":1,"name":"shubham","age":25,"salary":85000}
# d[key]
print(d["id"])
print(d["name"])

1
shubham

#### Updating the key value -

In [3]:
d={"id":1,"name":"shubham","age":25,"salary":85000}
d["name"]="shubham sharma"
print(d)

{'id': 1, 'name': 'shubham sharma', 'age': 25, 'salary': 85000}

#### Length of dict -

In [4]:
print(len(d))

4

#### Max()

In [5]:
print(max(d))

salary

#### min()

In [6]:
print(min(d))

age

#### keys()

In [7]:
print(d.keys())

dict_keys(['id', 'name', 'age', 'salary'])

#### values()

In [8]:
print(d.values())

dict_values([1, 'shubham sharma', 25, 85000])

#### items()

In [9]:
print(d.items())

dict_items([('id', 1), ('name', 'shubham sharma'), ('age', 25), ('salary', 85000)])

#### update()

In [10]:
d={"id":1,"name":"shubham","age":25,"salary":85000}
d1={"add":"delhi"}
d.update(d1)
print(d)

{'id': 1, 'name': 'shubham', 'age': 25, 'salary': 85000, 'add': 'delhi'}

#### del

In [11]:
del d["salary"]
print(d)

{'id': 1, 'name': 'shubham', 'age': 25, 'add': 'delhi'}

#### pop()

In [12]:
d.pop("name")
print(d)

{'id': 1, 'age': 25, 'add': 'delhi'}

#### clear()

In [13]:
d.clear()

In [14]:
print(d)

{}

#### copy()

In [15]:
d={"name":"shubham","Age":25}
a=d.copy()
print(a)

{'name': 'shubham', 'Age': 25}

#### fromkeys()

In [16]:
l=["Aman","Amit","Raju"]
a=dict.fromkeys(l,1000)
print(a)

{'Aman': 1000, 'Amit': 1000, 'Raju': 1000}

#### Dynamic Dict -

In [17]:
l=[]
l2=[]
s=int(input("Enter the size : "))
for i in range(0,s,1):
    n1=input("Enter keys : ")
    n2=input("Enter value : ")
    l.append(n1)
    l2.append(n2)
print(dict(zip(l,l2)))

{'id': '1', 'name': 'shubham', 'salary': '45000'}

#### Looping

In [18]:
d={'id': '1', 'name': 'shubham', 'salary': '80000'}
for i in d.items():
    print(i)

('id', '1')
('name', 'shubham')
('salary', '80000')

### Nested dictionaries

A nested dictionary means a dictionary inside another dictionary. <br> Used when data has multiple levels (like students → subjects → marks).

In [19]:
students = {
    "student1": {
        "name": "Shubham",
        "age": 21,
        "marks": 90
    },
    "student2": {
        "name": "Aman",
        "age": 22,
        "marks": 85
    }
}

print(students)

{'student1': {'name': 'Shubham', 'age': 21, 'marks': 90}, 'student2': {'name': 'Aman', 'age': 22, 'marks': 85}}

In [20]:
print(students["student1"]["name"])   # Shubham
print(students["student2"]["marks"])  # 85

Shubham
85

In [21]:
students["student1"]["city"] = "Delhi"
print(students)

{'student1': {'name': 'Shubham', 'age': 21, 'marks': 90, 'city': 'Delhi'}, 'student2': {'name': 'Aman', 'age': 22, 'marks': 85}}

In [22]:
for student_id, details in students.items():
    print("ID:", student_id)
    for key, value in details.items():
        print(key, ":", value)
    print()

ID: student1
name : Shubham
age : 21
marks : 90
city : Delhi

ID: student2
name : Aman
age : 22
marks : 85

In [ ]:
company = {
    "IT": {
        "Manager": "Raj",
        "Employees": 10
    },
    "HR": {
        "Manager": "Priya",
        "Employees": 5
    }
}

print(company["IT"]["Manager"])

Raj

### Dictionary comprehension

{key_expression: value_expression for item in iterable}

In [25]:
squares = {x: x*x for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
marks = {"Math": 90, "Science": 85, "English": 40}

passed = {k: v for k, v in marks.items() if v >= 50}
print(passed)

{'Math': 90, 'Science': 85}