# Tuple -
- A tuple is a collection data type in Python that is:
1. Ordered
2. Immutable (cannot be changed)
3. Allows duplicate values
4. denoted by ()

In [1]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [2]:
type(t)

tuple

In [4]:
t=(1)
type(t)

int

In [5]:
t=(1,)
type(t)

tuple

## Tuple Methods -

### tuple() -

In [20]:
list=[1,2,3,4,5]
t=tuple(list)
print(t)

(1, 2, 3, 4, 5)

### len()

In [21]:
len(t)

5

### sum()

In [22]:
sum(t)

15

### min()

In [8]:
min(t)

1

### max()

In [9]:
max(t)

5

### index()

In [10]:
t=("Ram","Shyam","Amit","Sumit")
t.index("Shyam")

1

### count()

In [11]:
t=(1,1,1,2,3,4,5,5,5,3)
t.count(1)

3

### Iteration of tuple -

In [14]:
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

### del

In [16]:
del t
print(t)

NameError: name 't' is not defined

### Dynamic Tuple -

In [18]:
l=[]
n=int(input("Enter no. of ele : "))
for i in range(1,n+1):
    n1=input("Element : ")
    l.append(n1)

print(tuple(l))

('1',)